<form method="post" action="{{ path('app_valutazione_generale_delete', {'id': valutazione_generale.id}) }}" onsubmit="return confirm('Sei sicuro di voler cancellare questa scheda?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ valutazione_generale.id) }}">
    <button class="btn btn-danger">Elimina scheda</button>
</form>
