{% extends 'base.html.twig' %}
{% block title %}DatiAssistito
{% endblock %}

{% block body %}
	<h1>Dati Assistito</h1>
	{{ include ('dati_assistito.html.twig') }}

    <div class="pb-2 mb-4"></div>
	
    <div class="pb-2 mb-4"></div>

{% endblock %}
