{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <p>
        Se esiste un account corrispondente alla tua e-mail, è stata appena inviata un'e-mail che contiene un collegamento che puoi utilizzare per reimpostare la tua password.
        Questo link scadrà tra {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Se non ricevi un'e-mail, controlla la cartella della posta indesiderata o <a href="{{ path('app_forgot_password_request') }}">riprova</a>.</p>
{% endblock %}
{% block foot %}
{% endblock %}