{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Resetta la tua password</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Inserisci il tuo indirizzo email e ti invieremo un
                link per reimpostare la password.
            </small>
        </div>

        <button class="btn btn-primary">Invia e-mail per reimpostare la password</button>
    {{ form_end(requestForm) }}
{% endblock %}
{% block foot %}
{% endblock %}