<form method="post" action="{{ path('app_barthel_delete', {'id': barthel.id}) }}" onsubmit="return confirm('Sei sicuro di voler cancellare questa scheda?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ barthel.id) }}">
    <button class="btn btn-danger">Elimina</button>
</form>
