<form method="post" action="{{ path('app_chiusura_servizio_delete', {'id': chiusura_servizio.id}) }}" onsubmit="return confirm('Sei sicuro di voler cancellare questa scheda?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chiusura_servizio.id) }}">
    <button class="btn btn-danger">Elimina</button>
</form>
