{% extends 'base.html.twig' %}

{% block title %}ModificaParereMMG{% endblock %}

{% block body %}
    <h1><i class="bi bi-pen"></i> Modifica Parere MMG</h1>

    {{ include('parere_mmg/_form.html.twig', {'button_label': 'Salva'}) }}

    <a  type="button" class="btn btn-secondary" onclick="history.back()">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewbox="0 0 16 16">
			<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
		</svg>
		Torna indietro</a>
    <div class="pb-2 mb-2"></div>
    {{ include('parere_mmg/_delete_form.html.twig') }}
{% endblock %}
