{% extends 'base.html.twig' %}

{% block title %}EditUser{% endblock %}

{% block body %}
    <h1><i class="bi bi-pen"></i> Modifica Profilo</h1>

    {{ include('Profilo/_form.html.twig', {'button_label': 'Salva'}) }}
    <div class="pb-2 mb-4"></div>
   
{% endblock %}
