{% extends 'base.html.twig' %}

{% block title %}Nuovo Tipo Adiweb{% endblock %}

{% block body %}
    <h1>Crea nuovo Tipo Adiweb</h1>

    {{ include('tipi_adiweb/_form.html.twig') }}

    <div class="pb-2 mb-2"></div>
    <a class="btn btn-secondary" href="{{ path('app_tipi_adiweb_index') }}">Annulla</a>
    <div class="pb-2 mb-2"></div>
{% endblock %}
