// customize some Bootstrap variables
$primary: darken(#428bca, 20%);
$orange: #fd7e14;
$purple: #6f42c1;
$pink: #d63384;
$grey: #747273;


// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.scss";

//campi obbligatori
label.required:after {
    content: " *";
    color: red;
}

label.test:after {
    content: " *";
    color: red;
}

//mano sul bottone
.button {
    cursor: pointer;
}

//navbar

.navbar-expand {
    background-color: #f8f9fa;

}

.navbar-mobile {
    display: flex;
    background-color: #31363c;
    min-height: var(--ct-topbar-height);
    margin-left: var(--ct-leftbar-width);
    color: white;

    .accordion-header.accordion-navbar,
    .accordion-button.accordion-navbar,
    .accordion-item.accordion-navbar {
        background-color: #212529;
        color: white;
        border-style: none;
        box-shadow: none;


    }

    .accordion-button::after {
        display: inline-block;
        font-family: bootstrap-icons !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: -0.125em;
        -webkit-font-smoothing: antialiased;
        background: none;
        content:'\F282';
    }
}

.navbar-nav .nav-link.active {
    color: rgba(253, 253, 253, 0.9);
}

.btn {
    color: white;
}

//footer
.blog-footer {
    padding: 2.5rem 0;
    color: white;
    text-align: center;
    background-color: #31363c;
    border-top: 0.05rem solid #e5e5e5;
}

//spazio tra bottoni
.gap-3 {
    gap: 1.5rem !important;
}

//collapse info schede
.collapse.collapse-info{
    background-color: #cff4fc;
    color: #055160;
} 

//tabelle di visualizzazione
@media only screen and (max-width: 1200px) {

    /* Force table to not be like tables anymore */
    .no-more-tables table,
    .no-more-tables thead,
    .no-more-tables tbody,
    .no-more-tables th,
    .no-more-tables td,
    .no-more-tables tr,
    #visualizza-tables table,
    #visualizza-tables thead,
    #visualizza-tables tbody,
    #visualizza-tables th,
    #visualizza-tables td,
    #visualizza-tables tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
        background-color: #f8f9fa;
    }

    .no-more-tables tr {
        border: 1px solid #ccc;
        background-color: #f8f9fa;
    }

    .no-more-tables td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
        background-color: #f8f9fa;
    }

    .no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */

        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        background-color: #f8f9fa;
    }

    #visualizza-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #visualizza-tables tr {
        border: 1px solid #ccc;
    }

    #visualizza-tables td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

    #visualizza-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    .no-more-tables td:before {
        content: attr(data-title);
    }

    /*
    Label the data
    */
    #visualizza-tables td:before {
        content: attr(data-title);
    }
}

body #scheda_pai table tr td {


    .badge.bg-orange {
        background-color: $orange;

    }

    .badge.bg-purple {
        background-color: $purple;
    }

    .badge.bg-pink {
        background-color: $pink;
    }

    &.text-grey {
        color: $grey;
    }
}

#visualizza-tables {

    td,
    th {
        border: 1px solid;


    }
}

.hiddenRow {
    padding: 0 !important;
}

//stile dropdown delle tabella scheda-pai
#tabella-index-scheda-pai .dropdown-menu {
    padding-bottom: 40px;
}

//filtro dark mode
html.dark-mode {
    .no-more-tables thead tr {
        background-color: #31363c;
        color: white;
    }

    .no-more-tables td {
        background-color: #31363c;
        color: white;
    }

    .no-more-tables tr {
        background-color: #31363c;
        color: white;
    }

    .no-more-tables td:before {
        background-color: #31363c;
        color: white;
    }

    #visualizza-tables thead tr {
        background-color: #31363c;
        color: white;
    }

    #visualizza-tables td {
        background-color: #31363c;
        color: white;
    }

    #visualizza-tables tr {
        background-color: #31363c;
        color: white;
    }

    #visualizza-tables td:before {
        background-color: #31363c;
        color: white;
    }

    body {
        background-color: #212529;
        color: white;
    }

    .pagination a {
        background-color: #31363c;
        color: white;
    }

    .form-select {
        background-color: #31363c;
        color: white;

        input:hover {
            background-color: gray;
        }
    }

    .navbar-expand {
        background-color: #31363c;
        color: white;
    }

    .card-body {
        background-color: #31363c;
        color: white;
    }

    .dropdown-menu a {
        color: white;
    }

    .dropdown-menu {
        background-color: #31363c;
        color: white;
    }

    .dropdown-item:hover {
        background-color: gray;
    }

    a.disabled {
        /* Make the disabled links grayish*/
        color: gray;
        /* And disable the pointer events */
        pointer-events: none;
    }

    .h6,
    .h3,
    .h1,
    .h2,
    .h4,
    .h5 {
        color: white;
    }

    input,
    textarea {
        background-color: #31363c;
        color: white;
    }

    input[type=date],
    input[type=time] {
        background-color: #31363c;
        color: white;
    }

    .ts-wrapper,
    .ts-control,
    .ts-wrapper-single {
        background-color: #31363c;
        color: white;
    }

    .ts-dropdown {
        background-color: #31363c;
        color: white;
    }

    .accordion-header,
    .accordion-button,
    .accordion-item {
        background-color: #31363c;
        color: white;
    }

    .form-control {
        color: white;
        background-color: #31363c;
    }
}