{% extends 'base.html.twig' %}

{% block title %}NuovaValutazioneFiguraProfessionale{% endblock %}

{% block body %}
    <h1><i class="bi bi-pen"></i> Nuova scheda Valutazione Figura Professionale</h1>

    {{ include('valutazione_figura_professionale/_form.html.twig') }}

{% endblock %}
