{% extends 'base.html.twig' %}

{% block title %}New AltraTipologiaAssistenza{% endblock %}

{% block body %}
    <h1>Crea nuova Tipologia Assistenza</h1>

    {{ include('controller_pai/altra_tipologia_assistenza/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('app_controller_pai_altra_tipologia_assistenza_index') }}">Indietro</a>
{% endblock %}
