{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ops! Qualcosa non ha funzionato</h1>

    <p>
        Contatta il gestore del servizio Module Manager alla mail {{ app.request.server.get('MAIL_SERVIZIO_TECNICO') }} </a>
    </p>
{% endblock %}