{% extends 'base.html.twig' %}

{% block title %}Nuovo Operatore{% endblock %}

{% block body %}
    <h1><i class="bi bi-pen"></i> Crea nuovo operatore</h1>

    {{ include('user/_form.html.twig') }}

    <div class="pb-2 mb-2"></div>
    <a class="btn btn-secondary" href="{{ path('app_user_index') }}">Annulla</a>
    <div class="pb-2 mb-2"></div>
{% endblock %}
